@import '../node_modules/rupture-sass/rupture';
@import 'variables';
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
 li  
 {list-style-type: none;}

.menu_item:hover{
    transform: scale(1.3);
    transform-origin: top left;
   }
.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    height: 750px;
    overflow-x: hidden;
    overflow-y: hidden;
}
header {
    display: flex;
    background-color: $green;
    height: 10%;
    border: $gray_border;
    .text {
        align-self: center;
        padding-left: 10px;
    }
}
main {
    display: flex;
    height: 80%;
}
.main_content {
    background-color: $yellow;
    width: 80%;
    padding-left: 10px;
    border: $gray_border;
    padding-top: 5px;
}
.aside_nav {
    background-color: $blue;
    width: 20%;
    border: $gray_border;
}
.navigation_item {
    border-bottom: 1.4px solid gray;
    padding-top: 5px;
    padding-bottom: 10px;
    .text {
        align-self: center;
        padding-left: 10px;
    }
}
.menu {
    padding-top: 10px;
    .text {
        align-self: center;
        padding-left: 10px;
    }
}
footer {
    display: flex;
    background-color: $gray;
    height: 10%;
    border: $gray_border;
    .text {
        align-self: center;
        padding-left: 10px;
    }
}

@include below(600px) {
    main {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .main_content {
        width: 100%;
        height: 70%;
    }
    .aside_nav {
        width: 100%;
        height: 30%;
        .menu {
            display: flex;
            justify-content: space-around;
            .text {
                padding-left: 0;
            }
        }
    }
}