@import "../node_modules/rupture-sass/rupture";
@import "variables";
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    height: 750px;
}
    header {
        display: flex;
        background-color: $green;
        height: 10%;
        border: $grey_border;
        .text {
            align-self: center;
            padding-left: 10px;
        }
    }
    main {
        display: flex;
        height: 80%;
    }
    .main_content {
        background-color: $yellow;
        width: 80%;
        padding-left: 10px;
        border: $grey_border;
        padding-top: 5px;
    }
    .aside {
        background-color: $blue;
        width: 20%;
        border: $grey_border;
    }
    .navigation_item {
        border-bottom: 1.4px solid grey;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
        // width: 100%;
        // height: 15%;
    }
    .menu_item {
        padding-top: 10px;
        padding-left: 5px;
        // width: 100%;
        // height: 80%;
    }
    footer {
        display: flex;
        background-color: $grey;
        height: 10%;
        border: $grey_border;
        .text {
            align-self: center;
            padding-left: 10px;
        }
    }
    @include below(600px) {
       
        main {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
        }
        .main_content {
           width: 100%;
           height: 70%;
        }
        .aside {
            width: 100%;
            height: 30%;
            .menu_item{
                display: flex;
            }
                .item_menu{
                    color:orange;
                    justify-content: space-around;
                }

            
        }
        
    }


